body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    text-align: center;
    padding: 20px;
}

footer {
    max-width: 600px;  /* Adjust this width as needed */
    margin: 0 auto;  /* Centers the footer */
    padding: 5px 0;  /* Reduces padding */
    font-size: 14px;  /* Adjust font size if needed */
    text-align: center;
}

.resume-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resume-content {
    width: 60%;
}

.degree-image {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.degree-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}